<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <description>ServletContextListener, HttpSessionListener</description>
        <listener-class>initial.server</listener-class>
    </listener>
    <servlet>
        <servlet-name>login2</servlet-name>
        <servlet-class>general.login2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signout</servlet-name>
        <servlet-class>general.signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register2</servlet-name>
        <servlet-class>general.register2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_department2</servlet-name>
        <servlet-class>administration.new_department2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_degree2</servlet-name>
        <servlet-class>administration.new_degree2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_batch2</servlet-name>
        <servlet-class>administration.new_batch2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_subject2</servlet-name>
        <servlet-class>administration.new_subject2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_allowed_subject2</servlet-name>
        <servlet-class>administration.new_allowed_subject2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_employee2</servlet-name>
        <servlet-class>employee.new_employee2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_leave2</servlet-name>
        <servlet-class>employee.new_leave2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_payroll2</servlet-name>
        <servlet-class>employee.new_payroll2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_faculty2</servlet-name>
        <servlet-class>employee.faculty.new_faculty2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_subject_handled2</servlet-name>
        <servlet-class>employee.faculty.new_subject_handled2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_student2</servlet-name>
        <servlet-class>student.new_student2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_registration2</servlet-name>
        <servlet-class>student.new_registration2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_attendance2</servlet-name>
        <servlet-class>student.new_attendance2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_fees2</servlet-name>
        <servlet-class>student.new_fees2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_book2</servlet-name>
        <servlet-class>library.new_book2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>issue_faculty2</servlet-name>
        <servlet-class>library.issue_faculty2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>issue_student2</servlet-name>
        <servlet-class>library.issue_student2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>return_faculty2</servlet-name>
        <servlet-class>library.return_faculty2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>return_student2</servlet-name>
        <servlet-class>library.return_student2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reissue_faculty2</servlet-name>
        <servlet-class>library.reissue_faculty2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reissue_student2</servlet-name>
        <servlet-class>library.reissue_student2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_class2</servlet-name>
        <servlet-class>timetable.new_class2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_time_table2</servlet-name>
        <servlet-class>timetable.new_time_table2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_timings2</servlet-name>
        <servlet-class>timetable.new_timings2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_exam2</servlet-name>
        <servlet-class>examcell.new_exam2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_exam_detail2</servlet-name>
        <servlet-class>student.new_exam_detail2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_student_exam2</servlet-name>
        <servlet-class>examcell.new_student_exam2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_paper_checking2</servlet-name>
        <servlet-class>examcell.new_paper_checking2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_result2</servlet-name>
        <servlet-class>student.new_result2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_item2</servlet-name>
        <servlet-class>inventory.new_item2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_supplier2</servlet-name>
        <servlet-class>inventory.new_supplier2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_purchase2</servlet-name>
        <servlet-class>inventory.new_purchase2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_company2</servlet-name>
        <servlet-class>tandp.new_company2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>new_placed_student2</servlet-name>
        <servlet-class>tandp.new_placed_student2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login2</servlet-name>
        <url-pattern>/general/login2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signout</servlet-name>
        <url-pattern>/general/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register2</servlet-name>
        <url-pattern>/general/register2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_department2</servlet-name>
        <url-pattern>/administration/new_department2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_degree2</servlet-name>
        <url-pattern>/administration/new_degree2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_batch2</servlet-name>
        <url-pattern>/administration/new_batch2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_subject2</servlet-name>
        <url-pattern>/administration/new_subject2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_allowed_subject2</servlet-name>
        <url-pattern>/administration/new_allowed_subject2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_employee2</servlet-name>
        <url-pattern>/employee/new_employee2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_leave2</servlet-name>
        <url-pattern>/employee/new_leave2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_payroll2</servlet-name>
        <url-pattern>/employee/new_payroll2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_faculty2</servlet-name>
        <url-pattern>/employee/faculty/new_faculty2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_subject_handled2</servlet-name>
        <url-pattern>/employee/faculty/new_subject_handled2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_student2</servlet-name>
        <url-pattern>/student/new_student2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_registration2</servlet-name>
        <url-pattern>/student/new_registration2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_attendance2</servlet-name>
        <url-pattern>/student/new_attendance2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_fees2</servlet-name>
        <url-pattern>/student/new_fees2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_book2</servlet-name>
        <url-pattern>/library/new_book2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>issue_faculty2</servlet-name>
        <url-pattern>/library/issue_faculty2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>issue_student2</servlet-name>
        <url-pattern>/library/issue_student2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>return_faculty2</servlet-name>
        <url-pattern>/library/return_faculty2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>return_student2</servlet-name>
        <url-pattern>/library/return_student2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reissue_faculty2</servlet-name>
        <url-pattern>/library/reissue_faculty2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reissue_student2</servlet-name>
        <url-pattern>/library/reissue_student2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_class2</servlet-name>
        <url-pattern>/timetable/new_class2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_time_table2</servlet-name>
        <url-pattern>/timetable/new_time_table2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_timings2</servlet-name>
        <url-pattern>/timetable/new_timings2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_exam2</servlet-name>
        <url-pattern>/examcell/new_exam2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_exam_detail2</servlet-name>
        <url-pattern>/student/new_exam_detail2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_student_exam2</servlet-name>
        <url-pattern>/examcell/new_student_exam2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_paper_checking2</servlet-name>
        <url-pattern>/examcell/new_paper_checking2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_result2</servlet-name>
        <url-pattern>/student/new_result2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_item2</servlet-name>
        <url-pattern>/inventory/new_item2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_supplier2</servlet-name>
        <url-pattern>/inventory/new_supplier2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_purchase2</servlet-name>
        <url-pattern>/inventory/new_purchase2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_company2</servlet-name>
        <url-pattern>/tandp/new_company2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>new_placed_student2</servlet-name>
        <url-pattern>/tandp/new_placed_student2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
