/* 
    Document   : footer
    Created on : Jul 4, 2011, 10:16:51 PM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

.footer h4
{
    line-height:1.3em;
    text-align:center;
    color:rgb(125,125,125);
    font-weight:bold;
    font-size:110%;
}

.footer h4.credits
{
    font-weight:normal;
}

.footer a
{
    text-decoration:underline;
    color:rgb(125,125,125);
}

.footer a:hover
{
    text-decoration:none;
    color:rgb(0,0,0);
}

.footer a:visited
{
    color:rgb(0,0,0);
}